.add-btn,
.cancel-btn {
  align-self: flex-end;
  margin-bottom: 32px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #51a2ff;
  color: white;
  text-decoration: none;
}

.add-btn:hover {
  background-color: #2b7fff;
}
